Package: python-newt
Source: newt
Version: 0.52.20-8
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 117
Depends: libnewt0.52 (= 0.52.20-8), python (<< 2.8), python (>= 2.7~), python:any (<< 2.8), python:any (>= 2.7~), libc6 (>= 2.4)
Provides: python2.7-newt
Section: python
Priority: optional
Multi-Arch: same
Homepage: https://pagure.io/newt
Description: NEWT module for Python
 This module allows you to build a text UI for your Python scripts
 using newt.
