Package: libnewt-pic
Source: newt
Version: 0.52.20-8
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 36
Depends: libnewt-dev (= 0.52.20-8)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://pagure.io/newt
Description: Not Erik's Windowing Toolkit, shared library subset kit
 This is used to develop subsets of the newt shared libraries for use on
 custom installation floppies and in embedded systems. Unless you're
 making one of those, you won't need this package.
