Package: python3-newt
Source: newt
Version: 0.52.20-8
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 113
Depends: libnewt0.52 (= 0.52.20-8), python3 (<< 3.8), python3 (>= 3.7~), python3:any, libc6 (>= 2.4)
Provides: python3.7-newt
Section: python
Priority: optional
Multi-Arch: same
Homepage: https://pagure.io/newt
Description: NEWT module for Python3
 This module allows you to build a text UI for your Python3 scripts
 using newt.
