Package: libnewt0.52
Source: newt
Version: 0.52.20-8
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 576
Depends: libc6 (>= 2.15), libslang2 (>= 2.2.4)
Recommends: libfribidi0
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://pagure.io/newt
Description: Not Erik's Windowing Toolkit - text mode windowing with slang
 Newt is a windowing toolkit for text mode built from the slang library.
 It allows color text mode applications to easily use stackable windows,
 push buttons, check boxes, radio buttons, lists, entry fields, labels,
 and displayable text. Scrollbars are supported, and forms may be nested
 to provide extra functionality. This package contains the shared library
 for programs that have been built with newt.
